# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
build/
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Production files
*.zip
*.tar.gz

# Optional npm cache folder
.npm

# macOS metadata files
.AppleDouble
.LSOverride

# Coverage reports (if using Jest)
coverage/